* {
  margin: 0px;
}
.Presentado {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.navbar {
  /*Barra de navegaci贸n*/
  background-color: white;
  margin: 20px;
  margin-bottom: 20px;
  display: grid;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 10fr 2fr; /*abajo de width: 700px; se rompe*/
  /* position: fixed; */
}
.logoYHome {
  /*Home y logo*/
  display: flex;
  gap: 0px 0.5em;
  margin-right: 10px;
  /* border: 2px solid black; */
  /* grid-template-columns: 2fr 2fr; */
  justify-content: center;
  align-items: center;
}
.Log {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
}
.Logo {
  margin: 0px;
  /* text-align: center; */
  width: 1.5em;
  height: 1.5em;
}
.Log:hover {
  background-color: rgb(204, 204, 204);
  border-radius: 50%;
  cursor: pointer;
}
.contenedorDeHome {
  width: 5em;
  height: 3em;
  background-color: black;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home {
  font-family: "Arial";
  font-size: 1.15em;
  color: white;
  /* font-weight: 15px; NO LO AGARRA */
}
.ch {
  height: 0px;
  width: 0px;
}
.sett {
  height: 0px;
  width: 0px;
}
.contenedorDeHome:hover {
  cursor: pointer;
}
.barradebusqueda {
  /*Barra de busqueda*/
  height: 3em;
  display: grid;
  /* align-self: center; */
  /* justify-content: center; */
  /* border: 2px solid black; */
  grid-template-columns: 0fr 20fr;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(216, 214, 211);
}
.barradebusqueda:hover {
  background-color: rgb(170, 169, 169);
  z-index: 1;
  cursor: pointer;
}
.lupa {
  margin-left: 20px;
  align-self: center;
  justify-content: center;
}
.textodeBuscar {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: rgba(216, 214, 211, 0);
  font-size: 20px;
}
.textodeBuscar:hover {
  background-color: rgb(170, 169, 169);
  cursor: pointer;
}
.opciones {
  /*opciones*/
  display: grid;
  margin-left: 10px;
  /* border: 2px solid black; */
  grid-template-columns: 0fr 3fr 3fr 3fr 3fr;
}
.opciones img {
  width: 1.5em;
  height: 1.5em;
  margin: 10px;
}
div .search {
  width: 0%;
  height: 0%;
  margin: 0%;
}
.opciones .Flechaconopciones {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.margenes {
  margin: 0px;
  display: grid;
  grid-template-columns: 1% 98% 1%;
  /* height: 2200px; */
  box-sizing: border-box;
}
.container {
  margin-top: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 22px;
}
.enmedio {
  display: flex;
  /* align-self: center;
  justify-content: center; */
  /* gap: 0px 20px; */
  flex-direction: column;
  margin: 0px;
}
.img1 {
  /*contenedor de imagen*/
  border-radius: 20px;
  height: 13em;
  width: 15em;
  margin-top: 0px;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}
.Logus {
  margin-top: 5px;
  display: inline-block;
  /* justify-content: center; */
  align-items: center;
  width: inline;
  height: auto;
}
.img1 .nomperf {
  position: relative;
  bottom: 8px;
  display: inline-block;
  font-family: "Arial";
  font-size: 0.9em;
}

.img4 .esconder,
.img3 .esconder,
.img2 .esconder,
.img1 .esconder {
  /*Contenedor de botones*/
  box-sizing: border-box;
  border-radius: 20px;
  display: none;
  height: inherit;
  width: inherit;
  position: absolute;
  padding: 20px;
}
.img4 div .carpeta h2,
.img3 div .carpeta h2,
.img2 div .carpeta h2,
.img1 div .carpeta h2 {
  /*Nombre de carpeta "Familia"*/
  color: white;
  font-family: "Arial";
  font-size: 1.15em;
  margin-top: 0em;
}
.img4 div .carpeta > img,
.img3 div .carpeta > img,
.img2 div .carpeta > img,
.img1 div .carpeta > img {
  /*imagen Flecha de mas opciones dentro de carpeta*/
  position: relative;
  left: 4.2em;
  bottom: 20px;
  width: 1em;
  height: 1em;
}
.img4 div .carpeta .consave,
.img3 div .carpeta .consave,
.img2 div .carpeta .consave,
.img1 div .carpeta .consave {
  /*Contenedor de Save*/
  position: relative;
  left: 8em;
  bottom: 3em;
  width: 5em;
  height: 3em;
  background-color: rgb(248, 46, 46);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img4 div .carpeta .consave h3,
.img3 div .carpeta .consave h3,
.img2 div .carpeta .consave h3,
.img1 div .carpeta .consave h3 {
  /*Nombre de carpeta "Familia"*/
  color: white;
  font-family: "Arial";
  font-size: 1.15em;
}
.img4 div .carpeta h2,
.img3 div .carpeta h2,
.img2 div .carpeta h2,
.img1 div .carpeta h2 {
  /*accion de mostrar link con "Familia*/
  cursor: pointer;
}
.img4 div .pagina > h3,
.img3 div .pagina > h3,
.img2 div .pagina > h3,
.img1 div .pagina > h3 {
  /*Pagina internet*/
  font-family: "Arial";
  font-size: 1.15em;
  margin-left: 5px;
  margin-right: 5px;
}
.img4 .esconder .pagina > img,
.img3 .esconder .pagina > img,
.img2 .esconder .pagina > img,
.img1 .esconder .pagina > img {
  margin-left: 5px;
}
.img1 .esconder .pagina {
  /*Contenedor de pagina*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  bottom: -35%;
  width: fit-content;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img2 .esconder .pagina {
  /*Contenedor de pagina*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  bottom: -45%;
  width: fit-content;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img3 .esconder .pagina {
  /*Contenedor de pagina*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  bottom: -54%;
  width: fit-content;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img4 .esconder .pagina {
  /*Contenedor de pagina*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  bottom: -60%;
  width: fit-content;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img1 .esconder .boton1 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 146px;
  bottom: -20%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img2 .esconder .boton1 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 146px;
  bottom: -32%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img3 .esconder .boton1 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 146px;
  bottom: -42%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img4 .esconder .boton1 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 146px;
  bottom: -50%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img1 .esconder .boton2 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 176px;
  bottom: -6%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img2 .esconder .boton2 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 176px;
  bottom: -20%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img3 .esconder .boton2 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 176px;
  bottom: -31%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img4 .esconder .boton2 {
  /*Contenedor de boton compartir*/
  box-sizing: border-box;
  /* margin: 0px; */
  position: relative;
  left: 176px;
  bottom: -41%;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img4 .esconder .boton1:hover,
.img4 .esconder .boton2:hover,
.img4 .esconder .pagina:hover,
.img3 .esconder .boton1:hover,
.img3 .esconder .boton2:hover,
.img3 .esconder .pagina:hover,
.img2 .esconder .boton1:hover,
.img2 .esconder .boton2:hover,
.img2 .esconder .pagina:hover,
.img1 .esconder .boton1:hover,
.img1 .esconder .boton2:hover,
.img1 .esconder .pagina:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.img4 div .carpeta > img:hover,
.img3 div .carpeta > img:hover,
.img2 div .carpeta > img:hover,
.img1 div .carpeta > img:hover {
  /*accion de mostrar link con imagen Familia/*/
  cursor: pointer;
}
.img4 div .carpeta > .consave:hover,
.img3 div .carpeta > .consave:hover,
.img2 div .carpeta > .consave:hover,
.img1 div .carpeta > .consave:hover {
  /*Contenedor de Save click ocuro*/
  cursor: pointer;
  background-color: rgb(138, 31, 31);
}
.img4:hover .esconder,
.img3:hover .esconder,
.img2:hover .esconder,
.img1:hover .esconder {
  /*accion de Mostrar cuando pasas el mouse*/
  z-index: 1;
  display: block;
  background-color: rgba(0, 0, 0, 0.541);
}
.img2 {
  /*contenedor de imagen*/
  border-radius: 20px;
  height: 15em;
  width: 15em;
  margin-top: 0px;
  margin-bottom: 22px;
  display: inline-block;
  position: relative;
}
.img3 {
  /*contenedor de imagen*/
  border-radius: 20px;
  height: 17em;
  width: 15em;
  margin-top: 0px;
  margin-bottom: 22px;
  display: inline-block;
  position: relative;
}
.img4 {
  /*contenedor de imagen*/
  border-radius: 20px;
  height: 19em;
  width: 15em;
  margin-top: 0px;
  margin-bottom: 22px;
  display: inline-block;
  position: relative;
}
.one,
.dos,
.drei,
.vier {
  display: block;
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: 20px;
}
.botones {
  margin-right: 0px;
  box-sizing: border-box;
  width: 70px;
  height: auto;
  left: 90%;
  top: 75%;
  position: fixed;
  z-index: 1;
  gap: 0px 10px;
}
.PyQ {
  margin-top: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.PyQ:hover {
  z-index: 1;
  background-color: rgb(168, 166, 166);
  cursor: pointer;
}
.Pregunta {
  width: 40%;
  height: 60%;
}
.mas {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 850px) {
  .navbar {
    /*Barra de navegaci贸n*/
    background-color: white;
    margin: 20px;
    margin-bottom: 0px;
    display: grid;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr; /*abajo de width: 700px; se rompe*/
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8 {
    width: 13em;
  }
  .contenedorDeHome {
    width: 100px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Home {
    font-family: "Arial";
    font-size: 25px;
    color: rgb(110, 110, 110);
    /* font-weight: 15px; NO LO AGARRA */
  }
  .contenedorDeHome .ch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ch:hover {
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    cursor: pointer;
  }
  .sett {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
  }
  .logoYHome {
    /*Home y logo*/
    display: flex;
    gap: 0px 5px;
    margin-right: 10px;
    /* border: 2px solid black; */
    /* grid-template-columns: 2fr 2fr; */
    justify-content: center;
    align-items: center;
  }
  .opciones {
    /*opciones*/
    display: grid;
    margin-left: 0px;
    /* border: 2px solid black; */
    grid-template-columns: 0fr 3fr 3fr 3fr 3fr;
    gap: 0px 0px;
  }
  .opciones img {
    width: 32px;
    height: 32px;
    margin-left: 0px;
    margin-right: 0px;
  }
  div .search {
    width: 0%;
    height: 0%;
    margin: 0%;
  }
  .Log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    gap: 0px 0px;
  }
}

@media screen and (max-width: 730px) {
  .navbar {
    /*Barra de navegaci贸n*/
    background-color: white;
    margin: 20px;
    margin-bottom: 0px;
    display: grid;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 2fr; /*abajo de width: 700px; se rompe*/
    /* position: fixed; */
  }
  .barradebusqueda {
    /*Barra de busqueda*/
    height: 0px;
    border: 0px;
    background-color: rgb(216, 214, 211);
  }
  .textodeBuscar {
    width: 0px;
    height: 0px;
  }
  .lupa {
    width: 0px;
    height: 0px;
  }

  .opciones {
    /*opciones*/
    display: grid;
    margin-left: 0px;
    /* border: 2px solid black; */
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  }
  .opciones img {
    width: 32px;
    height: 32px;
    margin: 10px;
  }
  .opciones .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 15px;
  }
  .Log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  .opciones .ch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
  }
}
@media screen and (max-width: 540px) {
  .opciones .ch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
  }
  .opciones .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }

  .navbar {
    /*Barra de navegaci贸n*/
    background-color: white;
    margin: 20px;
    margin-bottom: 0px;
    display: grid;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr 0.2fr 3fr; /*abajo de width: 700px; se rompe*/
    /* position: fixed; */
  }
  .opciones .Flechaconopciones,
  .opciones .Usuario,
  .opciones .Mensajes,
  .opciones .Notificaciones {
    margin-left: 0px;
    margin-right: 0px;
    height: 50%;
    width: 50%;
  }
  .Log {
    gap: 0px 0px;
  }
}
